<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Dostavka</title>
    <link href="https://fonts.googleapis.com/css?family=Koulen" rel="stylesheet" />
    <link rel="stylesheet" href="/css/small.css" />
    <link rel="stylesheet" href="/css/medium.css" />
    <link rel="stylesheet" href="/css/large.css" />
</head>

<body>
    <header id="main-header" class="simple-header"></header>
    <main>
        <div class="container">
            <section class="checkedout-section">
                <h2 class="title">Order #<span id="orderId"></span> Purchased Correctly</h2>
                <p>
                    <span id="orderClient"></span>, your order has been purchased correctly on <span id="orderDate"></span><br>
                    Your order will be delivered to <span id="orderAddress"></span>.
                </p>
                <h1 class="text-center">!Thanks for your purchase!</h1>
            </section>
        </div>
    </main>
    <footer id="main-footer"></footer>

    <script async src="/js/checkedout.js" type="module" defer></script>
</body>

</html>
