<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History orders Food Dostavka</title>
    <link
      href="https://fonts.googleapis.com/css?family=Koulen"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/small.css" />
    <link rel="stylesheet" href="/css/medium.css" />
    <link rel="stylesheet" href="/css/large.css" />
    <script src="/js/login.js" defer></script>
    <script src="../js/log-sign.js" defer></script>
  </head>
  <body>
    <header class="display-block">
        <div class="container">
          <section class="title-logo">
            <h1>FOOD</h1>
            <h5>DOSTAVKA</h5>
          </section>
        </div>
      </header>
      <main>
          
      </main>

      <footer id="main-footer"></footer>
  </body>

</html>