<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn Food Dostavka</title>
    <link rel="stylesheet" href="../css/small.css" />
    <link rel="stylesheet" href="../css/large.css">
    <link href="https://fonts.googleapis.com/css?family=Koulen" rel="stylesheet"/>
    <script src="../js/login.js" defer></script>
  </head>
  <body>
    <header>
      <section class="Title">
        <h1>FOOD</h1>
        <h5>DOSTAVKA</h5>
      </section>
    </header>
    <main>
      <img src="../images/img-small.jpg" alt="food" id="loginimg" />
      <section id="loginsection">
        <h2>LOG IN TO FOOD DOSTAVKA</h2>
        <button id="fbbutton">
          <a href="https://www.facebook.com/" target="_blank"> 
            <img src="../images/icon-fb.svg" id="fbic">
            Continue with Facebook
          </a>
        </button>
        <br><br>
        <button id="googlebutton"> 
          <a href="https://www.gmail.com/" target="_blank">
            <img src="../images/google-icon.jpg.crdownload" id="googleic">
            Continue with Google
          </a>
        </button>
        <br><br>
        <button id="applebutton">
          <a href="https://www.apple.com/" target="_blank">
            <img src="../images/apple-icon.png" id="appleic">
            Continue with Apple
          </a>
        </button>

        <hr />
        or
        <hr />
        <p>Log-in with your phone number</p>
        <form id="formlogin">
          <select name="code" id="code"0>
              <option>--</option>
              <option>+593</option>
              <option>+55</option>
            </select>
          <input id="phone" type="tel" name="phone">
        </form>
        <br>
        <button id="SMS">SMS</button>
        <button id="WA">WhatsApp</button>
    </main>
  </body>
  <footer>
    <p>Follow us on Social Media</p>
    <a href="https://www.facebook.com/" target="_blank"
      ><img src="../images/icon-fb.svg" alt="facebook"
    /></a>
    <a href="https://www.instagram.com/" target="_blank"
      ><img src="../images/icon-insta.svg" alt="instagram"
    /></a>
    <a href="" target="https://www.twitter.com/"
      ><img src="../images/icon-twitter.svg" alt="twitter"
    /></a>
  </footer>
</html>
