<section class="Title">
  <h1>FOOD</h1>
  <h5>DOSTAVKA</h5>
</section>
<section class="search">
  <div class="block">
    <input
      type="text"
      id="search"
      class="block"
      placeholder="Search here.."
      name="search"
    />
    <button type="submit" id="submitbutton" class="block">
      <img src="images/" />
    </button>
  </div>
  <button class="block" id="cartbutton">
    <img src="images/icon-bag.svg" width="20px" />
  </button>
  <a class="block" href="views/login.html"> Log In</a>
</section>
