<section class="title-logo">
    <h1>FOOD</h1>
    <H5>DOSTAVKA</H5>
</section>
<div></div>
<button type="button" id="iconLocation" class="geolocationbutton"><img src="/images/geolocation_black.png" alt="icon geolocation" /></button>
<div class="input-group geolocation-input-group">
    <input type="text" id="locationInputGroup" readonly>
    <button type="button" id="iconLocationGroup" class="geolocationbutton"><img src="/images/geolocation_black.png" alt="icon geolocation" /></button>
</div>
<button type="button" id="iconSearch" class="searchbutton"><img src="/images/icon-search.png" alt="icon search" /></button>
<button type="button" id="closeSearch" class="searchbutton active hide"><img src="/images/icon-cancel.png" alt="icon cancel" /></button>
<div class="mobile-input-search hide">
    <div class="input-group search-input-group">
        <input type="text" placeholder="Search here.." id="searchInputGroup">
        <button type="button" class="searchbutton"><img src="/images/icon-search.png" alt="icon search" /></button>
    </div>
</div>
<button type="button" id="cartbutton"><img src="/images/icon-bag.svg" /> <span id="cartCount">0</span></button>
<a href="/views/login.html" id="loginbutton">LOG IN</a>