@media screen and (min-width: 640px) {
  header {
    column-gap: 1rem;
  }

  header button#cartbutton {
    width: 80px;
    justify-content: space-evenly;
    border-radius: 9px;
  }
  header button#cartbutton img {
    display: block;
  }

  header button#cartbutton span {
    font-size: 1.5em;
  }

  header button#iconLocation,
  header button#iconSearch {
    display: none;
  }

  header .geolocation-input-group,
  header .search-input-group {
    display: flex;
    justify-content: flex-end;
  }

  header .mobile-input-search {
    grid-row: 1;
    grid-column: 4;
    display: block;
    padding: 0;
  }

  header .geolocation-input-group > input,
  header .search-input-group > input {
    border: 2px solid var(--accent2-color);
    border-right: 0;
  }

  header .geolocation-input-group > button,
  header .search-input-group > button {
    margin: 0;
    padding: 0.25rem;
    height: 100%;
    border: 2px solid var(--accent2-color);
  }

  header .geolocation-input-group > input {
    border-right: 0;
    background-color: var(--accent-color);
  }

  header .geolocation-input-group > button {
    border-left: 0;
    background-color: var(--accent-color);
  }

  .banner-container {
    height: 300px;
  }

  .orangeblock {
    height: 180px;
  }

  .gotorestaurants {
    margin-top: -8rem;
  }

  #delivery {
    object-position: 60% 95%;
  }

  .top-restaurants .top {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .subscribe-section {
    display: flex;
    justify-content: space-between;
  }

  .subscribe-section .subscribe {
    flex-basis: 50%;
  }

  .subscribe-section .subscribe-image {
    flex-basis: 50%;
  }

  .subscribe-section .subscribe-image img {
    height: 120%;
  }

  .subscribe-section .subscribe .input-group input {
    max-width: 225px;
  }

  footer {
    padding-top: 5rem;
  }

  /* LOGIN */
  .login-banner {
    height: 450px;
  }

  /* Cart */
  .cart-grid-container {
    display: grid;
    grid-template-columns: 1fr .5fr;
  }
  
  .summary h2{
    margin-top: 0;
  }
}
