h1, h2, h3, h4, h5{
    font-family: 'Koulen';
}
p{
    font-family: 'Raleway';
}
body{
    border: 5px solid #004E64;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 99px;
}
header h1{
    color: #ED9542;
    font-family: 'Koulen';
    font-size: 3em;
}
header h5{
    font-family: 'koulen';
    font-size: 1.6em;
}
.Title{
    padding-left: 1em;
    line-height: 0.2px;
}
.block{
    display: block;
    float: left;
    padding: 0.5em;
    width: 20%;
}
#cartbutton{
    background-color: #ED9542;
    border: 0;
    border-radius: 35%;    
}
#search{
    border-radius: 40%;
    height: 10px;
}

/*  */
#pizza1{
    width: 100%;
    z-index: -1;
}
#orangeblock{
    background-color: #ED9542;
    position: absolute;
    margin-top: -55px;
    width: 60%;
    padding-left: 1em;
    height: 21%;
}
#goto{
    background-color: #004E64;
    border: 0;
    padding: 1em 6em 1em 6em;
    color: white;
    position: absolute;
    right: 0;
    margin-top: 70px;
}
#slogan{
    font-size: 21px;
    position: absolute;
    top: 42%;
    left: 5%;
       
 
}
#char{
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
    text-align: justify;
}
#delivery{
    width: 100%;
}
#top-restaurants{
    text-align: center;
    line-height: 0.25em;
}
#top img{
    width: 100%;
}
#top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
}
.restaurantview{
    background-color: rgb(192, 186, 186);

}
#showmore{
    background-color: #ED9542;
    transform: translate(50%, 50%);
    padding: 1em;
    border: 0;
    color: white;
}
#subscribe{
    text-align: center;
    background-color: #ED9542;
    height: 100px;
    padding: 1em;
}
#sendbutton{
    background-color: #004E64 ;
}
#join-us-img{
    width: 50%;
    visibility: hidden;
}
footer{
    background-color: hsl(193, 100%, 20%);
    text-align: center;
    padding: 1em;
    color: white;
}
/* LOGIN */
#loginimg{
    width: 100%;
}
#loginsection{
    text-align: center;
    padding: 2em;
}
#loginsection a{
    color: white;
    text-decoration: none;
}
#fbbutton{
    background-color: rgb(66, 66, 109);
}
#googlebutton{
    background-color: blue;
}
#applebutton{
    background-color: black;
}
#applebutton, #googlebutton, #fbbutton{
    border: 0;
    width: 80%;
    height: 50%;
    border-radius: 10px 10px 10px 10px;
    padding: 0.5em 0;
}
#fbic, #googleic, #appleic{
    width: 15px;
    transform: translate(50% 50%);
}
#formlogin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    transform: translate(13%, 0%);
}
#SMS, #WA{
    padding: 0.5em;
    width: 30%;
    border-radius: 15%;
    border: 0;
}

button {
    cursor: pointer;
}

.btn {
    padding: 0.75rem 1rem;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: bold;
    background-color: white;
}

.btn-ouline:hover,
.btn-ouline:active,
.btn-ouline:focus {
    background-color: whitesmoke;
}

.btn-success {
    background-color: #73b173;
    color: white;
}

.btn-success:hover, 
.btn-success:active, 
.btn-success:focus {
    background-color: #559455;
    color: white;
}

.btn-success.btn-ouline {
    border-color: #73b173;
    color: #73b173;
    background-color: white;
}

.btn-success.btn-ouline:hover, 
.btn-success.btn-ouline:active, 
.btn-success.btn-ouline:focus {
    background-color: #73b173;
    color: white;
}

.btn-disabled {
    background-color: whitesmoke !important;
    color: gray !important;
    cursor: auto !important;
    border-color: gray !important;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 0 1rem;
    margin: 1rem 0;
    border-bottom: 1px solid #888;
}

.modal-body {
    padding: 0 1rem;
    margin: 1rem 0;
}

.modal-footer {
    padding: 1rem;
    border-top: 1px solid #888;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;
    max-width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-footer .modal-options {
    display: flex;
    justify-content: space-between;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.input-group {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.input-group > input {
    border: 1px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.input-group > button {
    margin: 0.5rem 0;
    width: 3rem;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    font-size: 1em;
    font-weight: bold;
}

.input-group > button:hover,
.input-group > button:active,
.input-group > button:focus {
    background-color: #73b173;
    color: white;
}

.hide {
    display: none;
}