:root {
  --font-body: "Raleway", sans-serif;
  --font-headline: "Koulen", sans-serif;
  /* colors */
  --primary-color: #004e64;
  --secondary-color: #ffffff;
  --accent-color: #e4d9d5;
  --accent2-color: #ed9542;
  --accent3-color: #ec6c41;
  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--small-font);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-headline);
}

p,
label,
span {
  font-family: var(--font-body);
}

a {
  text-decoration: none;
}

input {
  padding-left: 0.25rem;
}

header {
  display: grid;
  grid-template-columns: 5rem 0 auto auto auto auto;
  align-items: center;
  padding: 1rem;
}

header.simple-header {
  grid-template-columns: 5rem auto;
  justify-content: space-between;
}

header .title-logo {
  line-height: 0.2px;
}

header .title-logo h1 {
  color: var(--accent3-color);
  font-size: 3em;
  margin: 0;
  line-height: 1;
}

header .title-logo h5 {
  font-size: 1.6em;
  margin: 0;
  line-height: 1;
}

header button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--secondary-color);
}

header button img {
  width: 25px;
  height: 25px;
}

header button.geolocationbutton {
  justify-self: center;
}

header button.geolocationbutton img {
  width: 18px;
}

header button.searchbutton {
  color: var(--primary-color);
  font-weight: bold;
  width: 40px;
  justify-self: center;

  margin: 0;
  height: 35px;
  padding-top: 0.3em;
}

header button.searchbutton.active {
  border: 1px solid var(--accent3-color);
  border-radius: 5px;
}

header button#cartbutton {
  width: 40px;
  justify-self: center;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--accent2-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 9px;
  padding: 1.7em 0;
  font-weight: bold;
}

header button#cartbutton img {
  display: none;
}

header button#cartbutton span {
  font-size: 1.3em;
}

header a#loginbutton {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  color: var(--primary-color);
}

header .mobile-input-search {
  grid-row: 2;
  grid-column: 1/-1;
  padding: 1rem 1rem 0 1rem;
}

header .search-input-group {
  /*display: flex;*/
  justify-content: center;
}

header .search-input-group input {
  padding-top: 0;
  padding-bottom: 0;
}

header .geolocation-input-group {
  display: none;
}

/* custom general styles */

.hide {
  display: none;
}

.marginless {
  margin: 0 !important;
}

.clearfix {
  clear: both;
}

.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
}

.input-group > input {
  border: 1px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75em;
}

.input-group > button {
  margin: 0.5rem 0;
  width: 3rem;
  border: 1px solid black;
  border-radius: 0 5px 5px 0;
  font-size: 1em;
  font-weight: bold;
}

.input-group > button:hover,
.input-group > button:active,
.input-group > button:focus {
  background-color: var(--accent2-color);
  color: white;
}

.container {
  max-width: 1250px !important;
  margin: 0 auto;
}

.text-danger {
  color: var(--accent3-color);
}

.divisor {
  margin: 2em 0;
  padding: 0;
  border: 1px solid whitesmoke;
  height: 0;
  width: 100%;
  position: relative;
}

.divisor .divisor-label {
  position: absolute;
  background-color: white;
  padding: 0.5em 1em;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* buttons */

button {
  cursor: pointer;
}

.btn {
  padding: 0.75rem 1rem;
  border: 2px solid black;
  border-radius: 4px;
  font-weight: bold;
  background-color: white;
}

.btn-ouline:hover,
.btn-ouline:active,
.btn-ouline:focus {
  background-color: whitesmoke;
}

.btn-success {
  background-color: #73b173;
  color: white;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: #559455;
  color: white;
}

.btn-success.btn-ouline {
  border-color: #73b173;
  color: #73b173;
  background-color: white;
}

.btn-success.btn-ouline:hover,
.btn-success.btn-ouline:active,
.btn-success.btn-ouline:focus {
  background-color: #73b173;
  color: white;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #559455;
  color: white;
}

.btn-primary.btn-ouline {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: white;
}

.btn-primary.btn-ouline:hover,
.btn-primary.btn-ouline:active,
.btn-primary.btn-ouline:focus {
  background-color: var(--primary-color);
  color: white;
}

.btn-accent {
  background-color: var(--accent2-color);
  color: white;
}

.btn-accent:hover,
.btn-accent:active,
.btn-accent:focus {
  background-color: var(--accent3-color);
  color: white;
}

.btn-accent.btn-ouline {
  border-color: var(--accent2-color);
  color: var(--accent2-color);
  background-color: white;
}

.btn-accent.btn-ouline:hover,
.btn-accent.btn-ouline:active,
.btn-accent.btn-ouline:focus {
  background-color: var(--accent2-color);
  color: white;
}

.btn-disabled {
  background-color: whitesmoke !important;
  color: gray !important;
  cursor: auto !important;
  border-color: gray !important;
}

.btn-social-large {
  padding: 0.7rem 2rem;
  width: 100%;
  border-radius: 8px;
  border: 0;
  margin: 0.5rem 0;
}

.btn-social-large a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  justify-content: center;
}

.btn-social-large a img {
  width: 15px;
  height: 15px;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  box-sizing: border-box;
}

.btn-icon {
  width: 30px;
  height: 30px;
  padding: 0.4em;
}

.btn-icon img {
  width: 100%;
  height: 100%;
}

/*  */
.banner-container {
  height: 250px;
}

.banner-container img {
  width: 100%;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.orangeblock {
  background-color: #ed9542;
  position: relative;
  margin-top: -55px;
  width: 60%;
  padding: 0.5em 1em;
  height: 225px;
}

.orangeblock p {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.3;
}

.gotorestaurants {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: -9.5rem;
}

.gotorestaurants button {
  background-color: #004e64;
  color: white;
  border: 0;
  box-sizing: border-box;
  width: 80%;
  border-radius: 0;
}

.well-content {
  background-color: whitesmoke;
  box-sizing: border-box;
}

.comments-grid-container {
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.comments-item {
  padding: 0.7rem 3.5rem;
}

.comments-item h2,
.comments-item p {
  margin: 0;
}

.comments-item img {
  display: none;
  width: 50px;
  height: 70px;
  float: right;
  margin-top: -2.92rem;
}

.comments-item:first-child img {
  display: block;
}

.delivery-section {
  height: 450px;
}

#delivery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 95%;
}

.top-restaurants {
  text-align: center;
  padding: 1rem 0;
}

.top-restaurants .well-content {
  background-color: unset;
}

.top-restaurants h2 {
  margin: 0;
}

.top-restaurants a.show-all {
  text-decoration: underline;
  color: var(--accent2-color);
}

.top-restaurants .top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1em;
  padding: 1.5rem 1em;
}

.top-restaurants .top img {
  width: 100%;
}

.restaurantview {
  background-color: whitesmoke;
  text-align: left;
  padding-bottom: 0.5emm;
}

.restaurantview p {
  padding-left: 0.5em;
  margin: 0.5em 0;
}

.subscribe-section {
  background-color: var(--accent2-color);
}

.subscribe-section .subscribe {
  padding: 1rem 1.5rem;
  margin-bottom: 0.5em;
}

.subscribe-section .subscribe-image {
  height: 250px;
}

.subscribe-section .subscribe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subscribe-section .subscribe .input-group input {
  border: 0;
  border-radius: 0;
}

.subscribe-section .subscribe .input-group button {
  border: 0;
  border-radius: 0;
  background-color: var(--primary-color);
  color: white;
  margin: 0;
  padding: 0.75rem 0.25rem;
}

#showmore {
  background-color: #ed9542;
  transform: translate(50%, 50%);
  padding: 1em;
  border: 0;
  color: white;
}

#sendbutton {
  background-color: #004e64;
  border: none;
  color: white;
  padding: 0.3em;
}
#join-us-img {
  width: 50%;
  visibility: hidden;
}

footer {
  background-color: hsl(193, 100%, 20%);
  text-align: center;
  color: white;
  padding: 2rem 1rem;
}
/* LOGIN */
.login-banner {
  height: 300px;
}
#loginimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
#loginsection {
  text-align: center;
  padding: 2em 0;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 2em;
}
#loginsection h2 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 0.5em;
}
#loginsection a {
  color: white;
  text-decoration: none;
}
#fbbutton {
  background-color: rgb(66, 66, 109);
}
#googlebutton {
  background-color: blue;
}
#applebutton {
  background-color: black;
}

#formlogin .input-group {
  margin: 1em 0;
}

#formlogin .input-group .form-input {
  background-color: whitesmoke;
  border-color: var(--accent-color);
  padding: 0.6rem;
}

#formlogin .input-group .form-input:first-child {
  border-radius: 5px 0 0 5px;
  flex-basis: 35%;
}

#formlogin .input-group .form-input:last-child {
  flex-basis: 70%;
  border-left: 0;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid var(--accent-color);
}

.login-options {
  display: flex;
  column-gap: 1em;
}

#SMS,
#WA {
  border-radius: 9px;
  border: 0;
  flex-basis: 50%;
}

/* Modal */
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0 1rem;
  margin: 1rem 0;
  border-bottom: 1px solid #888;
}

.modal-body {
  padding: 0 1rem;
  margin: 1rem 0;
}

.modal-footer {
  padding: 1rem;
  border-top: 1px solid #888;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  max-width: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-footer .modal-options {
  display: flex;
  justify-content: space-between;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* Cart */
.cartTitle {
  margin-top: 0;
}
.cart-grid-container {
  padding: 1em;
}
.cart {
  margin: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.cart-item {
  width: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 6em auto 2em 3em;
  grid-template-rows: 1fr 1fr auto;
  grid-column-gap: 0.5em;
  margin-bottom: 0.5rem;
}
.cart-item img.cart-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  grid-column: 1;
  grid-row: 1/-1;
}
.cart-item h3 {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  margin-top: 0.5em;
  align-self: center;
  line-height: 1.25;
}
.cart-item p {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  align-self: center;
  margin-bottom: 0.5em;
}
.cart-item span {
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 0.5em;
  align-self: center;
}
.cart-item label {
  grid-column: 3;
  grid-row: 1/-1;
  align-self: center;
  justify-self: center;
}
.cart-item button {
  justify-self: center;
  align-self: center;
  grid-column: 4;
  grid-row: 1/-1;
  border: 0;
}
.summary {
  margin: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.summary h4{
  margin-bottom: 0;
}
.summary p{
  margin: 0;
}
.summary p#order-delivery-address {
  line-height: 1.5;
}
.summary button#checkout-button {
  width: 100%;
  margin: 1rem 0;
}